<h1>Help us make a triangle!</h1>

<form action="/result">

  <div id="form-group">
    <label for="A">Side A:</label>
    <input type="text" name="A" class="form-control" value="6">
  </div>

  <div id="form-group">
    <label for="B">Side B:</label>
    <input type="text" name="B" class="form-control" value="6">
  </div>

  <div id="form-group">
    <label for="C">Side C:</label>
    <input type="text" name="C" class="form-control" value="6">
  </div>

  <button name="Trianglize" type="submit" class="btn">Trianglize!</button>

</form>
